.banner
  width: 100%
  height: 300px

.color_header
  background-color: #383CA3
  color: #ffffff

.color_header
  a
    color: #ffffff
    text-decoration: none

.color_header
  li
    hover
      background-color: #555
      color: white

.margenes-header
  margin: auto 200px

.clearfix
  margin-right: 10px

.btn-link
  color: #ffffff
  cursor: pointer
  text-decoration: none

.btn-link:hover
  font-weight: bold
  color: #ffffff
  cursor: pointer
  text-decoration: none

.btn-link:active, .btn-link:visited, .btn-link:link
  text-decoration: none
