

.banner
  width: 100%
  height: 300px

.color_header
  background-color: #383CA3
  color: #ffffff

.color_header
  a
    color: #ffffff
    text-decoration: none

.color_header
  li
    hover
      background: green
      color: white

.margenes-header
  margin: auto 200px

.navbar-nav
  li
    hover
      background-color: green

.btn
  hover
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25)
    background: #4b52a9

.navbar-nav
  li:hover
    background: #585cd5 !important
    border-radius: 10px
    cursor: pointer


@media screen and (max-width: 1200px)
  .margenes-header
    margin: 0px 0px 0px 0px
    padding: 0px 0px 0px 0px
  .banner
    width: 100%
    height: 100px
