<h1>Este es el footer de la aplicación</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-12 d-inline-block">
            <p class="">
                <img src="http://www.geonames.org/flags/x/mx.gif" class="rounded-circle" alt="header">
                <img src="http://www.geonames.org/flags/x/cr.gif" class="rounded-circle" alt="header">
                <img src="http://www.geonames.org/flags/x/us.gif" class="rounded-circle" alt="header">
                <img src="http://www.geonames.org/flags/x/es.gif" class="rounded-circle" alt="header">
            </p>
        </div>                       
    </div>
</div>