<div>
    <div class="row">
        <img src="images/banner-jobs3.jpg" class="img-thumbnail imgheader" alt="header">
    </div>
    <div class="">
        <nav>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="btn btn-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-link" href="about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-link" href="contact-us.html">Contact Us</a>
                </li>

            </ul>
        </nav>
    </div>
</div>